{% extends "base.html" %}

{% block title %}Usuarios - Restaurante Tres Esquinas{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Lista de Usuarios</h2>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}             
            {% for category, message in messages %}
                <div class="flash-message alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    
    <a href="{{ url_for('usuarioRoutes.add_usuario') }}" class="btn btn-primary mb-3">Agregar Usuario</a>
    <a href="{{url_for('auth.login') }}" class="btn btn-secondary mb-3">Login</a>
    
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Correo</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in data %}
                <tr>
                    <td>{{ usuario.id }}</td>
                    <td>{{ usuario.correo }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
